/* Google fonts - Cardo and Libre Franklin*/
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* Hero starts */
header {
  background-color: #f1ece0;
}

/* Light toggle starts */
#toggle {
  display: flex;
  justify-content: flex-end;
  padding: 1.2rem 1.2rem 0 0;
}

#toggle img {
  width: 2rem;
}

#toggle img:hover {
  cursor: pointer;
}
/* Light toggle ends */

header {
  text-align: center;
}

header img {
  width: 2.5rem;
}

header h1 {
  margin: 0;
  font-family: libre franklin;
  font-weight: 800;
  color: #003744;
}

/* Book container and shelf starts*/
#shelf-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #f1ece0;
}

#book-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-cover {
  position: relative;
  background-color: #507882;
  margin: 0 3rem 0 3rem;
  width: 14.5rem;
  height: 22rem;
  top: 10px;
  filter: drop-shadow(7px 0px 15px rgba(84, 68, 45, 0.621))
    drop-shadow(1px 3px 7px rgba(80, 57, 25, 0.427));
  z-index: 10;
}

.book-cover-dark {
  position: relative;
  background-color: #507882;
  margin: 0 3rem 0 3rem;
  width: 14.5rem;
  height: 22rem;
  top: 10px;
  filter: drop-shadow(7px 0px 15px rgba(2, 29, 35, 0.75))
    drop-shadow(1px 3px 7px rgba(24, 39, 44, 0.427));
  z-index: 10;
}

.book-cover img {
  object-fit: cover;
  width: 14.5rem;
  height: 22rem;
}

.book-cover-dark img {
  object-fit: cover;
  width: 14.5rem;
  height: 22rem;
}

.book-overlay {
  display: none;
  position: absolute;
  width: 14.5rem;
  background: #003744;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
  bottom: 0;
  z-index: 20;
}

.book-overlay-dark {
  display: none;
  position: absolute;
  width: 14.5rem;
  background: #efc9a4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
  bottom: 0;
  z-index: 20;
}

.book-cover:hover .book-overlay {
  display: block;
}

.book-cover-dark:hover .book-overlay-dark {
  display: block;
}

.overlay-info {
  padding: 1rem;
  text-align: left;
}

.book-cover-title {
  font-family: cardo;
  font-weight: 700;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
  color: white;
}

.book-cover-title-dark {
  font-family: cardo;
  font-weight: 700;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
  color: black;
}

.book-cover-author {
  font-family: libre franklin;
  font-weight: 400;
  font-size: 0.8rem;
  color: white;
}

.book-cover-author-dark {
  font-family: libre franklin;
  font-weight: 400;
  font-size: 0.8rem;
  color: black;
}


#add-icon {
  position: relative;
  width: 30px;
  height: 30px;
  left: 10.5rem;
  margin-top: 1rem;
  text-align: right;
}

#add-icon:hover {
  cursor: pointer;
}

#shelf {
  width: 100vw;
  height: 3rem;
  bottom: 0;
  background: linear-gradient(
      180deg,
      rgba(72, 91, 107, 0.198) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../img/shelf.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 15px 22px rgba(102, 76, 37, 0.81));
  z-index: 1;
}

#shelf-dark {
  width: 100vw;
  height: 3rem;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(135, 127, 98, 0.26) 0%,
      rgba(13, 41, 67, 0.4) 80%
    ),
    url("../img/shelf.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 15px 22px rgba(102, 76, 37, 0.81));
  z-index: 1;
}
/* Book container end */

/* Switches to 2 and 1 book on breakpoints */
@media (max-width: 1030px) {
  #book3 {
    display: none;
  }
}

@media (max-width: 710px) {
  #book2 {
    display: none;
  }
}

#refresh-icon:hover {
  cursor: pointer;
}
/* Hero ends */

/* .icons i {
  margin-left: 20px;
}

tr{
display: flex; 
justify-content: space-between;
width: 100vw;
} */

/* #lList{
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

#rList{
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
 */

/* Book list header starts */
#list-header-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 5rem 0 2rem 0;
}

#list-header {
  width: 80%;
}

#list-header h3 {
  font-family: cardo;
  font-weight: 700;
}

#list-header p {
  color: #404040;
}

/* Book list header ends */

/* Table starts*/
#table-wrapper {
  width: 100vw;
}

#table {
  width: 80vw;
  margin: auto;
  font-family: libre franklin;
}

#table-header {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #003744;
}

#table-header h6 {
  font-size: 18px;
  font-weight: 700;
  color: #5f5f5f;
}

.left-table {
  margin-left: 2rem;
}

.right-table {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

#table-details {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  border-bottom: 1px solid #003744;
}

#book-title {
  font-family: cardo;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  margin-left: 2rem;
}

#book-author {
  font-size: 14px;
  color: #404040;
  margin-left: 2rem;
}

#table-details img {
  height: 2rem;
  margin: 2px 15px 0 0;
}

#table-details img:hover {
  cursor: pointer;
}

@media (max-width: 710px) {
  #table-header {
    display: none;
  }

  #table-details {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #book-title {
    margin-left: 0;
  }

  #book-author {
    margin-left: 0;
  }

  #table-details img {
    margin-bottom: 1rem;
  }

  #list-header {
    text-align: center;
    border-bottom: 2px solid #003744;
  }
}

/* Table ends */


/* Footer starts */
footer {
  margin-top: 5rem;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #003744;


}
footer p {
  font-family: libre franklin;
  font-size: 10px;
  color: white;
}
/* Footer ends */